@using GestLab.Shared
﻿@{
    ViewBag.Title = "Pedidos";
}

@model List<PedidoModel>

<h2>@ViewBag.Title</h2>
<div class="row">

    @if (Constantes.UsuarioModel.Tipo != Constantes.PerfilMontador)
    {
        <a href="@Url.Action("Detail", "Pedido", new { id = 0 })
            " class="btn btn-primary">
            Adicionar
        </a>
        <a href="@Url.Action("Relatorio", "Pedido", new { mes = DateTime.Today.Month, ano = DateTime.Today.Year })" class="btn btn-warning">
            Relatorio
        </a>
    }
    @*     <td>     <a asp-action="Relatorio" asp-route-id="@pedido.Id">@pedido</a> |</td>
    *@    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>DataPedido</th>
                    <th>ValorPedido</th>
                    <th>Editar</th>
                    @if (Constantes.UsuarioModel.Tipo == Constantes.PerfilMontador || Constantes.UsuarioModel.Tipo == Constantes.PerfilCliente)
                    {
                        <th>Ação</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var pedido in Model)
                {
                    <tr>
                        <th>@pedido.Descricao</th>
                        <td>@pedido.Cliente?.Nome</td>
                        <td>@pedido.Status</td>
                        <td>@pedido.DataPedido</td>
                        <td>@pedido.ValorPedido</td>
                        @if(pedido.Status == Constantes.StatusFinalizado)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@Html.ActionLink("Editar", "Detail", new { id = pedido.Id })</td>
                        }
                        
                        @if (Constantes.UsuarioModel.Tipo == Constantes.PerfilMontador)
                        {
                            var acaoMontador = "";
                            if (pedido.Status == Constantes.StatusNovo)
                                acaoMontador = "Inciar Montagem";
                            else if (pedido.Status == Constantes.StatusEmMontagem)
                                acaoMontador = "Concluir Montagem";
                            if (string.IsNullOrEmpty(acaoMontador))
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@Html.ActionLink(acaoMontador, "AcaoPedido", new { id = pedido.Id, acao = acaoMontador })</td>
                            }
                        }
                        else if (Constantes.UsuarioModel.Tipo == Constantes.PerfilCliente)
                        {
                            var acaoCliente = "";
                            if (pedido.Status == Constantes.StatusAguardandoPagamento)
                                acaoCliente = "Realizar Pagamento";

                            if (string.IsNullOrEmpty(acaoCliente))
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@Html.ActionLink(acaoCliente, "AcaoPedido", new { id = pedido.Id, acao = acaoCliente })</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>