﻿@{
    ViewBag.Title = "Usuarios";
}

@model List<UsuarioModel>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6 mb-3">
        <a href="@Url.Action("Detail", "Usuario", new { id = 0 })" class="btn btn-primary">
            Adicionar
        </a>
    </div>

    <div class="col-md-6 mb-3">
        <form method="get" action="@Url.Action("Search", "Usuario")" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" name="searchTerm" placeholder="Digite o nome ou email">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Telefone</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Tipo</td>
                    <td>@usuario.Telefone</td>
                    <td>@Html.ActionLink("Editar", "Detail", new { id = usuario.Id }, new
                            {
                                @class = "btn btn-info btn-sm"
                            })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
